      // Header //
$color-rosa: #FF9191;
$color-blanco: #FFFFFF;
$ancho-logo: 50px;
$altura-logo: 50px;




header{

	position: sticky;
	top: 0;
	z-index: 3;
	background-color: $color-rosa;
}


.imagenLogo {

	width: $ancho-logo;
	height: $altura-logo;
}


ul {

	list-style: none;
	font-size: 0;

	li {

		&:hover > {

			ul {

				display: block;
				background-color: $color-rosa;
				color: #FFFFFF;
				opacity: 0.77;
			}
		}
	}

	ul {

		position: absolute;
		display: none;
		background-color: $color-rosa;

		li {

			display: block;
		}

		ul {

			position: sticky;
			display: none;
			z-index: 10;

			li {

				display: block;

				&:hover > {

					ul {

						display: block;
						background-color: $color-rosa;
						overflow: hidden;
						opacity: 0.77;
					}
				}
			}
		}
	}
}


li {

	display: inline-block;
	text-align: center;
	text-decoration: none;
	position: relative;
	font-size: 22px;
}


nav {

	li {

		list-style-type: none;
		text-align: center;
		flex: auto;
		list-style-position: center;
	}
}


button {

	&.sear {

	border: 1px solid $color-blanco;
	color: $color-blanco;

		&:hover {

			color: $color-rosa;
			border: $color-blanco;
			background-color: $color-blanco;
		}
	}
}
